<h1>Preview</h1>

<%= session[:top_copy] %>
<br/>
<%= session[:bottom_copy] %>
<br/>
<%= session[:emoticon_id] %>
<br/>
<%= session[:language_id] %>
<br/>

<%= link_to "Create Post", posts_path, method: :post %>
