<h1>Preview</h1>

<%= image_tag(@url) %>
<br/>
<%= link_to "Generate New Image", preview_path %>
<br/>

<%= session[:emoticon_id] %>
<br/>
<%= session[:language_id] %>
<br/>

<%= link_to "Create Post", posts_path, method: :post %>
